.skip-link {
  position: absolute;
  left: 45%;
  transform: translateY(-100%);
  background: #cbcbcb;
  padding: 2%;
  transition: transform 0.3s;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.skip-link:focus {
  transform: translateY(80%);
}
